@font-face{
    font-family: "Quicksand";
    src: url(Quicksand-Medium.ttf) format(truetype);
}
@font-face{
    font-family: "AbrilFatFace-Regular";
    src: url(AbrilFatFace-Regular.ttf) format(truetype);
}
@font-face{
    font-family: "ArchivoBlack-Regular";
    src: url(ArchivoBlack-Regular.ttf) format(truetype);
}
@font-face{
    font-family: "GermaniaOne-Regular";
    src: url(GermaniaOne-Regular.ttf) format(truetype);
}
@font-face{
    font-family: "Oxanium-Regular";
    src: url(Oxanium-Regular.ttf) format(truetype);
}
@font-face{
    font-family: "AtomicAge-Regular";
    src: url(AtomicAge-Regular.ttf) format(truetype);
}
@font-face{
    font-family: "RubikGlitch-Regular";
    src: url(RubikGlitch-Regular.ttf) format(truetype);
}
@font-face{
    font-family: "Alegreya-Regular";
    src: url(Alegreya-Regular.ttf) format(truetype);
}
@font-face{
    font-family: "YatraOne-Regular";
    src: url(YatraOne-Regular.ttf) format(truetype);
}
@font-face{
    font-family: "Graduate-Regular";
    src: url(Graduate-Regular.ttf) format(truetype);
}
@font-face{
    font-family: "Anton-Regular";
    src: url(Anton-Regular.ttf) format(truetype);
}
body{
    background-image: url("background2.jpg");
    background-size: cover;
}
.cproductiontop{
    text-align: center;
}
.productiontop{     
    font-size: 1vw;
    letter-spacing: 0.7vw;
    font-family: 'Quicksand';
    font-weight: bold;
    background: radial-gradient(circle, rgba(98, 107, 133, 1) 0%, rgba(0, 0, 0, 1) 95%);
    color:white;
    display: inline-block;
    padding: 1%;
}
.titlebanner{
    display: inline-block;
    width: 80vw;
    height: auto;
    padding: 1vw;
}
.ctitlebanner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 40.4vw);
    justify-items: center;
}
.texts{
    background: radial-gradient(circle, rgb(52, 55, 65) 0%, rgba(0, 0, 0, 1) 95%);
    right: -3vw;
    position: relative;
    line-height: 1.43;
}
.inline{
    display: inline-block;
}
.textscp{
    margin: 1vw;
    padding: 1.8vw;
    background: radial-gradient(circle, rgb(56, 58, 68) 0%, rgba(0, 0, 0, 1) 95%);
    color:white;
    line-height: 1.5;
}
.headtextcp{
    font-size: 3.4vw;
    font-family: Oxanium-Regular;
    font-weight: 900;
}
.chardescription{
    font-size: 1.42vw;
    text-indent: 1vw;
    font-family: Alegreya-Regular;
}
.releasedate{
    color:white;
    font-size: 3.3vw;
    margin: 1vw;
    padding: 0.8vw;
    text-align: center;
    font-weight: 900;
    font-family: Oxanium-Regular;
}
.moviedescription{
    color:white;
    font-size: 1.31vw;
    background-size: cover;
    text-indent: 1vw;
    display: inline-block;
    margin: 1vw;
    padding: 0.8vw;
    font-family: Alegreya-Regular;
    position: relative;
    top: -2.1vw;
}
.movieposter{
    width: 30vw;
    height: auto;
    margin-top: 1vw;
}
.cmovieposter{
    text-align: center;
}
.moviepostertext{
    text-align: center;
    font-size: 2vw;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%,rgba(98, 107, 133, 1) 95%);
    color: whitesmoke;
    font-family: Oxanium-Regular;
    font-weight: 900;
}
.socialbuttons{
    display: inline-block;
    padding: 0.7vw 1.4vw; 
    font-size: 1.54vw; 
    text-decoration: none;
    cursor: pointer;
    border-radius: 3vw; 
    background-color: #ff4a4a; 
    color: #ffffff; 
    border: 0.4vw solid #ff0000; 
    position: relative;
    margin-top: 2vw;
    font-family: YatraOne-Regular;
}
.grid-container2{
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: repeat(1, 15vw);
    margin-top: 5vw;
    top: 39vw;
    position: relative;
    z-index: 1;
}
.socialbuttons:hover, .socialbuttons:focus {
    background-color: #ff0000; 
}
.cast{
    color: white;
    background: linear-gradient(to right, transparent, blue, transparent);
    background: linear-gradient(to left, transparent, blue, transparent);
    text-align: center;
    font-size: 2vw;
    margin-top: 7vw;
    font-family: Oxanium-Regular;
    font-weight: 900;
}
.grid-container3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 5vw);
    z-index: 2;
    position: relative;
}
.pic{
    width: 20vw;
    height: auto;
}
.castcontent{
    text-align: center;
}
.charecterbuttons{
    text-align: center;
    display: inline-block;
    padding: 0.5vw 1vw; 
    font-size: 1.25vw; 
    text-decoration: none;
    cursor: pointer;
    border-radius: 3vw; 
    background-color: #3643ff; 
    color: #ffffff; 
    outline: none;
    border: 0.5vw solid blue;
    position: relative;
    top: -1.95vw;
    font-family: ArchivoBlack-Regular;
}
.charecterbuttons:hover, .charecterbuttons:focus {
    background-color: blue; 
}
.productionpic{
    width: 20vw;
    height: auto;
    position: relative; 
} 
.cproductionpic{
    text-align: center;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%,rgba(98, 107, 133, 1) 95%);
    top: 46.5vw;
    position: relative;
}
.cproductionpicchar{
    text-align: center;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%,rgba(98, 107, 133, 1) 95%);
    top: 5.5vw;
    position: relative;
}
.popcontent{
    visibility: hidden;
} 
#popdes{
    position: relative;
    justify-content: center;
    background: radial-gradient(closest-side, rgba(98, 107, 133, 1) 0%, rgba(0, 0, 0, 1) 95%);
    border: 0.75vw dotted rgb(200, 239, 255); 
    border-radius: 2vw; 
    padding: 1vw; 
    display: inline-block; 
    box-shadow: 0vw 0vw 10vw rgb(62, 210, 255);
}
#popdessocials{
    position: relative;
    justify-content: center;
    background: radial-gradient(circle, rgb(255, 110, 110) 0%, rgb(255, 255, 255) 95%);
    border: 0.5vw solid #ff5f5f; 
    border-radius: 1vw; 
    padding: 2vw; 
    display: inline-block; 
    box-shadow: 0vw 0vw 10vw rgba(255, 35, 35, 0.7); 
}
.socialitems1{
    position: relative;
    text-align: center;
}
.socialitems2{
    position: relative;
    text-align: center;
}
.socialitems3{
    position: relative;
    text-align: center;
}
.evanpop:hover .popup-contentevan{
    visibility: visible;
}
.sohampop:hover .popup-contentsoham{
    visibility: visible;
}
.tylerpop:hover .popup-contenttyler{
    visibility: visible;
}
.saipop:hover .popup-contentsai{
    visibility: visible;
}
.socialitems1:hover .popup-socialtrailer{
    visibility: visible;
}
.socialitems2:hover .popup-socialinstagram{
    visibility: visible;
}
.socialitems3:hover .popup-socialmerch{
    visibility: visible;
}

.poppic{
    width: 13.5vw;
    height: auto;
}
.poppicsocial{
    width: 8vw;
    height: auto;
}
.pop-text{
    font-size: 0.93vw;
    color: whitesmoke;
    font-family: Graduate-Regular;
    font-weight: 800;
    margin-top: 1.1vw;
}
.pop-textsocials{
    font-size: 1.5vw;
    font-weight: 800;
    color: rgb(0, 0, 0);
    font-family: YatraOne-Regular;
    top: 0.65vw;
    position: relative;
}
.ccharecterbanners{
    text-align: center;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%,rgb(0, 0, 0) 95%);
}
.charecterbanners{
    width: 71vw;
    height: auto;
}
.merchhead{
    font-size: 4vw;
    font-family: YatraOne-Regular;
    color: #ffffff;
    text-align: center;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%,rgba(98, 107, 133, 1) 95%);
}
.back{
    border-radius: 2vw;
    color: whitesmoke;
    background-color: rgb(48, 47, 47);
    border: 0.5vw solid #000000;
    font-size: 1vw;
    position: relative;
    top: -13.5vw;
    font-family: ArchivoBlack-Regular;
    cursor: pointer;
}
.back:hover, .back:focus{
    background-color: #000000;
}
.merchback:hover, .merchback:focus{
    background-color: #000000;
}
.merchback{
    border-radius: 2vw;
    color: whitesmoke;
    background-color: rgb(48, 47, 47);
    border: 0.5vw solid #000000;
    font-size: 1vw;
    font-family: ArchivoBlack-Regular;
    cursor: pointer;
    visibility: visible;
    position: relative;
    top: 5vw;
}
#jimmy{
    position: relative;
    top: -0.9vw;   
}
#sonny{
    position: relative;
    top: 0.49vw;
}
#chase{
    position: relative;
    top: 1.4vw;
}
.cmerch{
    text-align: center;
    margin-top: 4vw;
}
.soldout{
    font-size: 4vw;
    font-family: Anton-Regular;
    display: inline;
    padding: 0.5vw;
    margin: 1vw;
    background: radial-gradient(circle, rgb(255, 28, 28) 0%,rgb(255, 98, 98) 95%);
    position: relative;
    top: -2vw;
    color: white;
    padding-left: 4vw;
    padding-right: 4vw;
}
.merchpic{
    margin-top: 0.7vw;
    width: 95vw;
    height: auto;
}
#thumbnail{
    width: 19vw;
    height: auto;
}
#blackh{
    width: 12vw;
    height: auto;
}
#instapic{
    width: 11vw;
    height: auto;
}