{% extends "front.html" %}{% block content %}
{% block title %}<title>Chase Lewis | Aspersion</title>{% endblock %}
<div class="ccharecterbanners">
    <img src="/static/chaselewis.jpg" class="charecterbanners" id="chase">
</div>
<div class="grid-container">
    <div class="inline">
        <div class="textscp"> 
            <div class="headtextcp">Chase Lewis's backstory</div>
            <div class="chardescription">
                Growing up in Texas, Chase found inspiration in his father's relentless pursuit of becoming a respected politician.
                The bond between father and son was unbreakable, with Chase spending countless hours reminiscing their shared moments.
                However, as the years progressed, Chase's admiration faced a formidable challenge when his father was diagnosed with dementia,
                rendering him unable to continue his political journey.
                In response to his father's condition, Chase made a solemn promise to himself—to carry on the legacy and aspirations his father had envisioned.
            </div>
        </div>
    </div>
    <div class="cmovieposter">
        <img src="/static/sohamcharpost.jpg" class="movieposter">
        <div class="moviepostertext">OFFICIAL CHARACTER POSTER</div>
    </div>
</div>
<div class="cproductionpicchar"> 
    <img src="static/production-company.jpg" class="productionpic">
</div>
<a href="/#1"><button class="back">Go back</button></a>
{% endblock %}