{% extends "front.html" %}{% block content %}
{% block title %}<title>Jimmy Jenkins | Aspersion</title>{% endblock %}
<div class="ccharecterbanners">
    <img src="/static/jimmyjenkins.jpg" class="charecterbanners" id="jimmy">
</div>
<div class="grid-container">
    <div class="inline">
        <div class="textscp">
            <div class="headtextcp">Jimmy Jenkins's backstory</div>
            <div class="chardescription">
                Jimmy Jenkins, a reserved individual from northern California, possesses a deep respect for the law and an unwavering commitment to the president.
                Raised by strict parents, he adapted to never question and blindly follow rules, which carried over to his career as a government official.
                However, as time goes on, Jimmy faces a crossroads, the  habit of unquestioning obedience is on the brink of change,
                challenging the very foundations of his childhood and professional life.
            </div>
        </div>
    </div>    
    <div class="cmovieposter">
        <img src="/static/saicharpost.jpg" class="movieposter">
        <div class="moviepostertext">OFFICIAL CHARACTER POSTER</div>
    </div>
</div>
<div class="cproductionpicchar"> 
    <img src="static/production-company.jpg" class="productionpic">
</div>
<a href="/#1"><button class="back">Go back</button></a>
{% endblock %}