{% extends "front.html" %}
{% block content %}
{% block title %}<title>Merch Store | Aspersion</title>{% endblock %}
    <div class="merchhead">Aspersion Merch Store</div>
    <div class="cmerch">
        <div class="soldout">ALL SOLD OUT</div>
        <img src="/static/finalmerchshop1.jpg" class="merchpic">
    </div>
    <a href="/#2"><button class="merchback">Go back</button></a>
    <div class="cproductionpicchar"> 
        <img src="static/production-company.jpg" class="productionpic">
    </div>
{% endblock %}