{% extends "front.html" %}{% block content %}
{% block title %}<title>Peter Turner | Aspersion</title>{% endblock %}
<div class="ccharecterbanners">
    <img src="/static/peterturner.jpg" class="charecterbanners">
</div>
<div class="grid-container">
    <div class="inline">
        <div class="textscp">
            <div class="headtextcp">Peter Turner's backstory</div>
            <div class="chardescription">
                Born and raised in Virginia, Peter Turner exudes a perpetual energy and confidence that defines his character.
                Despite his energetic persona, Peter dedicated a substantial amount of his time to political pursuits, somewhat neglecting the challenges his son, Sonny, was facing.
                Born into a family of politicians, Peter was molded by the political landscape that surrounded him.
                His parents, significant figures in the political world, played a significant role in shaping his worldview.
            </div>
        </div>
    </div>     
    <div class="cmovieposter">
        <img src="/static/tylercharpost.jpg" class="movieposter">
        <div class="moviepostertext">OFFICIAL CHARACTER POSTER</div>
    </div>
</div>
<div class="cproductionpicchar"> 
    <img src="static/production-company.jpg" class="productionpic">
</div>
<a href="/#1"><button class="back">Go back</button></a>
{% endblock %}