{% extends "front.html" %}{% block content %}
{% block title %}<title>Sonny Turner | Aspersion</title>{% endblock %}
<div class="ccharecterbanners">
    <img src="/static/sonnyturner.jpg" class="charecterbanners" id="sonny">
</div>
<div class="grid-container">
    <div class="inline">
        <div class="textscp">
            <div class="headtextcp">Sonny Turner's backstory</div>
            <div class="chardescription">
                Sonny Turner grew up without a mother, raised solely by his father in a modest home in rural Virginia.
                Following the sudden death of his mother, Sonny became a quiet child, finding solace in the world of mystery and crime through books and movies.
                However, his growing interest for these genres hindered his ability to form new friendships.
                His father, Peter Turner, occupied with work and often absent from home, did not give Sonny much attention.
                As a result, Sonny found himself immersed in detective novels and crime dramas, growing up this interest became the backbone of his life.
            </div>
        </div>
    </div>
    <div class="cmovieposter">
        <img src="/static/evancharpost.jpg" class="movieposter">
        <div class="moviepostertext">OFFICIAL CHARACTER POSTER</div>
    </div>
</div>
<div class="cproductionpicchar"> 
    <img src="static/production-company.jpg" class="productionpic">
</div>
<nav>
    <a href="/#1"><button class="back">Go back</button></a>
</nav>
{% endblock %}